.navbar {
  background-color: var(--theme);
  padding: .8rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 2px 2px 7px ;
  width: 100vw;
}
.logo {
  color: var(--theme);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
  text-shadow: 1px 2px 1px white;
  border: 1px solid rgb(38, 77, 204);
  box-shadow: 2px 2px 8px rgb(236, 234, 234);
  padding: .5rem;
  border-radius: 50%;
  background-color: rgb(177, 202, 231);
}
.link{
    opacity: 0.7;
}
.link:hover{
opacity: 1;
transition: all 0.3s;
}
