@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --theme: #104abe;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, blue, rgb(244, 244, 247), rgb(63, 146, 241), rgb(241, 241, 248), blue); */
  background-image: url("/money.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;
}


input {
  font-family: "Montserrat", sans-serif;
}
.custom-input {
  border: 0px;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0;
}
.custom-input {
  margin-top: -1rem !important;
}
.custom-input::placeholder {
  color: rgba(26, 25, 25, 0.5);
}
.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}
.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: 2px 2px 9px rgba(24, 22, 22, 0.75);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}
.input-flex input {
  width: 90%;
  padding: 0.5rem;
  border: 0;
}
.input-flex input:focus {
  outline: none;
}
.select-input {
  width: 30%;
  margin-right: 10;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem;
}
.select-input > div {
  border: 0px solid #fff !important;
}
